# Hill House Object Data from the National Trust for Scotland

Data analysis for Spring 2018 Design with Data course

In [1]:
import pandas as pd
df = pd.read_csv("HillHouse.csv")
df.head()

,DwD,record_type,number_of_parts,object_category,object_name,title,description,material.part,condition.part,creator,...,creator.role,production.place,production.period,production.date.start,production.date.start.prec,production.date.end,production.date.end.prec,part_of_reference,parts_reference,current_location
0,2.1,single object,1.0,Furniture and Furnishings,Fireplace,NaN,A stained dark oak fireplace with coloured gla...,NaN,NaN,"Mackintosh, Charles Rennie",...,Designer,NaN,Early 20th century,1903,NaN,1903,NaN,NaN,NaN,Hill House / Library
1,2.2,set,7.0,Furniture and Furnishings,Shelf Unit,NaN,"A set of seven units, consisting of two cupboa...",NaN,NaN,"Mackintosh, Charles Rennie",...,Designer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.2.1,Hill House / See Separate Records for Location...
2,2.2.1,single object,1.0,Furniture and Furnishings,Shelf Unit,NaN,One of a set of seven units. A dark stained oa...,NaN,NaN,"Mackintosh, Charles Rennie",...,Designer,NaN,NaN,NaN,NaN,NaN,NaN,2.2,NaN,Hill House / Library
3,2.2.2,single object,1.0,Furniture and Furnishings,Cupboard,NaN,One of a set of seven units. A dark oak staine...,NaN,NaN,"Mackintosh, Charles Rennie",...,Designer,NaN,NaN,NaN,NaN,NaN,NaN,2.2,NaN,Hill House / Library
4,2.2.3,single object,1.0,Furniture and Furnishings,Shelf Unit,NaN,One of a set of seven units. A dark stained oa...,NaN,NaN,"Mackintosh, Charles Rennie",...,Designer,NaN,NaN,NaN,NaN,NaN,NaN,2.2,NaN,Hill House / Library

In [18]:
print(df['record_type'].unique())
print(len(df['record_type'].unique()))

['single object' 'set' 'group']
3

What's the difference between a 'set' and a 'group' for record_type?

In [8]:
print(df['number_of_parts'].unique())
print(len(df['number_of_parts'].unique()))

[  1.   7.   2.   4.   3.  nan  12.   8.   5.  20.]
10

In [9]:
print(df['object_category'].unique())
print(len(df['object_category'].unique()))

['Furniture and Furnishings' 'Fire and Fireplace' 'Decorative Arts'
 'Lighting' 'Cooking, Dining and Drinking' 'Photography'
 'Household Textiles' 'Paintings, Drawings and Prints' 'Toiletry'
 'Miscellaneous' 'Jewellery' 'Horology' 'Needlework and Tapestries' nan
 'Costume' 'Sculpture']
16

In [11]:
print(df['object_name'].unique())
print(len(df['object_name'].unique()))
print(df.shape)

['Fireplace' 'Shelf Unit' 'Cupboard' 'Mantel Border' 'Easy Armchair' 'Box'
 'Fender' 'Fire Iron' 'Plate' 'Taper Box' 'Tobacco Box' 'Candle Sconce'
 'Candlestick' 'Liqueur Cup' 'Bougie Box' 'Chestnut Roaster'
 'Photographic Print' 'Armchair' 'Table' 'Window Seat' 'Seat Cover'
 'Standard Lamp' 'Lamp Shade' 'Stool' 'Grand Piano' 'Key' 'Poker' 'Tongs'
 'Wall Light' 'Carpet' 'Curtain' 'Towel Rail' 'Dining Table'
 'Longcase Clock' 'Open Armchair' 'Side Chair' 'Sideboard' 'Tray'
 'Wall Sconce' 'Bowl' 'Plate Warmer' 'Jug' 'Fruit Stand' 'Glass'
 'Ceiling Light' 'Portrait' 'Miniature Chair' 'Napkin' 'Skirt' 'Blouse'
 'Hat' 'Antimacassar' 'Light-Fitting' 'Garden Bench' 'Hall Chair'
 'Hall Clock' 'Hanging Light' 'Rug' 'Print' 'Kettle' 'Bed' 'Brush' 'Ewer'
 'Bedspread' 'Fire Surround' 'Couch' 'Wardrobe' 'Chair' 'Mirror'
 'Dressing Table' 'Fitted Wardrobe' 'Washstand' 'Centre Light' 'Basin'
 'Centre Stool' 'Coffee-cup' 'Saucer' 'Porringer' 'Tureen' 'Lid'
 'Sauce Boat' 'Cabinet' 'Vase' 'Vacuum Cleaner' 'Bag' 'Pipe' 'Nozzle'
 'Ashet' 'Dinner-service' 'Canister' 'Storage Jar' 'Pie Dish' 'Jar' 'Dish'
 'Meat Plate' 'Bread Bin' 'Meat Roaster' 'Cannister' 'Letter-opener'
 'Painting' 'Drawings' 'Drawing' 'Pencil Drawing' 'Dining Chair'
 'Preserving Pan' 'Cooking Pot' 'Jelly Mould' 'Shovel' 'Desk' 'Cushion'
 'Panel' 'Footboard' 'Fireplace Furniture' 'Bookplate' 'Letter' 'Tankard'
 'Lamp' 'Watercolour' 'Inkwell' 'Coffee-set' 'Hair Brush' 'Perfume Bottle'
 'Single Bed' 'Bed Spread' 'Mat' 'Griddle' 'Baking Bowl' 'Bell Board'
 'Coffee Mill' 'Bucket' 'Electric Fire' 'Carpet Sweeper' 'Necklace'
 'Dining Chairs' 'Dressing Stool' 'Bedside Table' 'Bench' 'Pan' 'Fire-iron'
 'Wall Clock' 'Tea-cup' 'Spoon' 'Tenderiser' 'Butter Hand' 'Butter Scoop'
 'Scoop' 'Sauce Tureen' 'Serving Dish' 'Side Plate' 'Flour Sifter'
 'Pastry Cutter' 'Tin' 'Egg Rack' 'Rolling Pin' 'Potato Masher'
 'Serving Spoon' 'Spurtle' 'Butter pat' 'Wall Cupboard' 'Bookcase'
 'Side Cabinet' 'Mantel Clock' 'Alcove' 'Sponge' 'Loofah' 'Sheet'
 'Writing Desk' 'Fire Guard' 'Wallpaper' 'Tea Cosy' 'Feather' 'Fragment'
 'Towel' 'Sample' 'Ribbon' 'Tray Cloth' 'Sink' 'Cistern' 'Toilet' 'Plaque'
 'Fabric' 'Roasting Tin' 'Toilet Seat' 'Cutter' 'Spatula' 'Grater'
 'Strainer' 'Spicerack' 'Ladder' 'Telephone' 'Basket' 'Sculpture']
192
(851, 21)

Object names are not unique (there are 192 names for 851 records)

In [19]:
print(df['title'].unique())
print(len(df['title'].unique()))

[nan 'Walter Blackie' 'Sunset, Largo' 'The Cumbrae from Portencross'
 'The Manor House Abbotsbury Dorsetshire' 'Mrs Younger' 'Elizabeth Dryden'
 'Sleeping Princess' 'In the Garden of the Hill House'
 'Five Open Rectangles in Space']
10

In [20]:
print(df['material.part'].unique())
print(len(df['material.part'].unique()))

[nan 'frame' 'stand' 'Whole' 'Panel' 'Case' 'Frame' 'Lamp' 'Handle'
 'Canister' 'Cannister' 'Jar' 'Body' 'Upholestery' 'Board' 'Bucket'
 'Overall' 'Cupboard' 'Drawing' 'Bag' 'Loop' 'Ladder' 'Basket']
23

In [21]:
print(df['condition.part'].unique())
print(len(df['condition.part'].unique()))

[nan 'Whole' 'Board']
3

In [22]:
print(df['creator'].unique())
print(len(df['creator'].unique()))

['Mackintosh, Charles Rennie' nan 'Craig, John' 'Jack, William'
 'Broadwood, John & Sons' 'John Broadwood & Sons' 'Avena Carpets'
 'Mitchell, Alexander' 'Spinks & Co.' 'Royal Worcester' 'Strain, Hilary'
 'National Trust for Scotland' 'John Blacksmith, Allan' 'Morris, Talwyn'
 'Templetons' 'Martin, Alex' 'Mackintosh, Margaret Macdonald'
 'Bulpitt & Sons' 'W. Thomson, Hatter & Glover' 'Younger, Jane'
 'Royal Crown Derby' 'G. T. M.' 'William Adams and Sons Ltd' 'Cauldon Ltd'
 'Figgjo' 'Copeland and Garrett' 'Dresser, Christopher' 'Hoover Company'
 'Keeling & Co.' 'Gordon B. Bros' 'Copeland Spode' 'Grimwade' 'Hartley'
 'Wedgwood' 'Eismarck' 'Pringle, John Quinton' 'Judge Ware'
 'Grosvenor Eagle Pottery Glasgow' 'Hilliard, Terence' 'Henry, George'
 'Adams, W. S. & Son' 'J. Moyes' 'Kayserzinn' 'Dallas, Mr'
 "Dr Gemmell's mother" 'Raeburn, Henry (FRSE, RA)' 'Blackie, Alison'
 'Fergusson, John Duncan' 'Gray F Portobello' 'Ewbank' 'Heathcote China'
 'Furnival' 'Steelite' 'Haviland & Co Limoges' 'Helpmate' 'Tala'
 'Tala Cookware' 'MacDonald, Margaret' 'Liberty & Co.' 'William McClymont'
 'Cockburn J F' 'Rickey, George']
62

In [23]:
print(df['creator.role'].unique())
print(len(df['creator.role'].unique()))

['Designer' nan 'Maker' 'Artist' 'Manufacturer' 'Author']
6

In [24]:
print(df['production.place'].unique())
print(len(df['production.place'].unique()))

[nan 'Arundel, Sussex, England' 'Halifax' 'Gorbals'
 'Gorbals, Glasgow, Scotland' 'London' 'Cramond House' 'Glasgow'
 'Birmingham' 'Edinburgh' 'Fife' 'Tunstall' 'England' 'Burslem'
 'Gloucester' 'Stoke-on-Trent' 'Staffordshire' 'Derby' 'Bristol'
 '57 Haymarket' 'Denmark']
21

In [40]:
print(df['production.period'].unique())
print(len(df['production.period'].unique()))
print()
print(df['production.date.start'].unique())
print(len(df['production.date.start'].unique()))
print()
print(df['production.date.end'].unique())
print(len(df['production.date.end'].unique()))
print()

import numpy as np
# Turn date strings into integers
strStartDates = list(df['production.date.start'])
startDates = []
for date in strStartDates:
    #print(type(date))
    if type(date) is str:
        if date == '1902-07':
            intDate = 1902
        else:
            intDate = int(date)
        startDates += [intDate]
print("Earliest and Latest Start Dates")
print(np.min(startDates))
print(np.max(startDates))
print()
strEndDates = list(df['production.date.end'])
endDates = []
for date in strEndDates:
    if type(date) is str:
        if date == '1902-07':
            intDate = 1907
        else:
            intDate = int(date)
        endDates += [intDate]
print("Earliest and Latest End Dates")
print(np.min(endDates))
print(np.max(endDates))

['Early 20th century' nan 'Late 19th century' '20th century'
 'Early 19th century' 'Mid-Georgian' 'Mid-18th century' '19th century'
 'Late Victorian' 'Mid-20th century' 'Late 20th century' 'Mid-19th century'
 'Late 19th-Early 20th century']
13

['1903' nan '1870' '1900' '1905' '1904' '1925' '1908' '1910' '1811' '1780'
 '1740' '1800' '1837' '1928' '1957' '1983' '1984' '1912' '1986' '1902'
 '1930' '1913' '1833' '1887' '1902-07' '1992' '1920' '1830' '1924' '1815'
 '1894' '1980' '1858' '1996']
35

['1903' nan '1899' '1929' '1999' '1905' '1904' '1930' '1908' '1910' '1837'
 '1790' '1769' '1900' '1901' '1928' '1957' '1983' '1984' '1912' '1986'
 '1902' '1915' '1969' '1913' '1847' '1887' '1902-07' '1992' '1920' '1869'
 '1926' '1815' '1949' '1894' '1980' '1858' '1996']
38

Earliest and Latest Start Dates
1740
1996

Earliest and Latest End Dates
1769
1999

One of the dates was a range, so I split the range into start date 1902 and end date 1907.

In [28]:
print(df['current_location'].unique())
print(len(df['current_location'].unique()))

['Hill House / Library'
 'Hill House / See Separate Records for Locations of Parts'
 'Hill House / Drawing Room' "Hill House / Daughter's Bedroom"
 'Hill House / Attic' 'Hill House / Dining Room'
 'Hill House / Linen Cupboard A / Silver Strong Room / Shelf 1'
 "Hill House / Butler's Pantry"
 'Hill House / Upper Hall / Silver Strong Room / Linen Cupboard A / Shelf 6'
 'Hill House / Upper Hall / Linen Cupboard A / Shelf 2'
 'Hill House / Upper Hall / Linen Cupboard A / Shelf 3'
 'Hill House / Upper Hall / Linen Cupboard A / Shelf 1'
 'Hill House / Night Nursery' 'Hill House / Lower Hall'
 'Hill House / Upper Hall' 'Hill House / Bathroom'
 'Hill House / Dressing Room'
 'Hill House / Dressing Room / Chest of Drawers'
 'Hill House / White Bedroom'
 'Hill House / Flower Pantry / Cupboard 2017.4032.4'
 'Hill House / Flower Pantry / Cupboard 2017.4032.1'
 'Hill House / Flower Pantry / Cupboard 2017.4032.2'
 'Hill House / Flower Pantry' 'Hill House / Kitchen'
 'Hill House / Kitchen / Cupboard 2017.4034'
 'Hill House / Room off Tea Room' 'Hill House / Staircase / Upper Hall'
 'Hill House / Upper Hall / Linen Cupboard A / Silver Strong Room / Shelf 3'
 'Hill House / Upper Hall / Linen Cupboard A / Silver Strong Room / Shelf 5'
 'Hill House / Upper Hall / Linen Cupboard A / Silver Strong Room / Shelf 2'
 'Hill House / Upper Hall / Linen Cupboard A / Silver Strong Room / Shelf 4'
 'Hill House / Upper Hall / Linen Cupboard A / Silver Strong Room / Shelf 1'
 'Hill House / Upper Hall / Linen Cupboard A / Shelf 4'
 'Holidays / Hill House' 'Hill House / Guest Bedroom'
 'Hill House / Main Stair'
 'Hill House / Upper Hall / Linen Cupboard B / Drawer 4'
 'Hill House / Upper Hall / Linen Cupboard B / Drawer 5'
 'Hill House / Cloakroom']
39

# Data to export to WordWanderer
http://wordwanderer.org/

In [3]:
desc_list = df['description']
assert len(desc_list == df.shape[0]), "There should be one description for every row in the data"

In [4]:
import csv
with open('objectDescriptions.csv', 'wt') as csvfile:
    w = csv.writer(csvfile)
    w.writerows(desc_list.items())

# Data to export for prototyping

Creator, ID (so we can link to the object’s picture), Object Name, Object Description, Start Date (4 digit year), Location

In [2]:
df.columns

Index(['DwD', 'record_type', 'number_of_parts', 'object_category',
       'object_name', 'title', 'description', 'material.part',
       'condition.part', 'creator', 'creator.qualifier', 'creator.role',
       'production.place', 'production.period', 'production.date.start',
       'production.date.start.prec', 'production.date.end',
       'production.date.end.prec', 'part_of_reference', 'parts_reference',
       'current_location'],
      dtype='object')

In [5]:
sub_df = pd.DataFrame( { 'ID' : df.loc[:, 'DwD'], 'object_category' : df.loc[:, 'object_category'], 'object_name' : df.object_name, 'description' : df.description, 'creator' : df.creator, 'production_place' : df.loc[:, 'production.place'], 'production_date_start' : df.loc[:, 'production.date.start'], 'production_date_end' : df.loc[:, 'production.date.end'], 'current_location' : df.current_location })
sub_df.tail()

,ID,creator,current_location,description,object_category,object_name,production_date_end,production_date_start,production_place
846,2017.42,NaN,Hill House / Flower Pantry,An oval wicker flower basket with a round hand...,Miscellaneous,Basket,1929,1900,NaN
847,2017.4245,"Rickey, George",Hill House / Cloakroom,Sections of an outdoor stainless steel kinetic...,Sculpture,Sculpture,1996,1996,NaN
848,2017.4247,NaN,Hill House / Butler's Pantry,A ceramic salt glaze storage jar with a raised...,"Cooking, Dining and Drinking",Storage Jar,1929,1900,NaN
849,2017.4248.1,NaN,Hill House / Upper Hall / Linen Cupboard B / D...,"One of a set of two curtains in cream cotton, ...",Household Textiles,Curtain,NaN,NaN,NaN
850,2017.4248.2,NaN,Hill House / Upper Hall / Linen Cupboard B / D...,"One of a set of two curtains in cream cotton, ...",Household Textiles,Curtain,NaN,NaN,NaN

In [8]:
sub_df.shape

(851, 9)

In [55]:
end_date_list = list(sub_df.production_date_end)
new_end_dates = []
#type(end_date_list[850])
#print(end_date_list[850])
for d in end_date_list:
    if type(d) == float:
        d = '0000'
    d = str(d)
    if d == '1902-07':
        d = '1907'
    new_end_dates += [d]
    
for new_d in new_end_dates:
    assert type(new_d) == str, "All new dates should be strings"
    assert len(new_d) == 4, "All new dates should be 4 digit years"

In [54]:
start_date_list = list(sub_df.production_date_start)
new_start_dates = []
for sd in start_date_list:
    if type(sd) == float:
        sd = '0000'
    sd = str(sd)
    if sd == '1902-07':
        sd = '1902'
    new_start_dates += [sd]
    
for new_sd in new_start_dates:
    assert type(new_sd) == str, "All new dates should be strings"
    assert len(new_sd) == 4, "All new dates should be 4 digit years"

In [56]:
assert len(new_end_dates) == len(new_start_dates), "There should be the same number of start and end dates"

In [58]:
place_list = list(sub_df.production_place)
new_places = []
for p in place_list:
    if type(p) == float:
        p = 'Unknown'
    new_places += [p]
    
for new_p in new_places:
    assert type(new_p) == str, "All new dates should be strings"

In [59]:
sub_df = pd.DataFrame( { 'ID' : df.loc[:, 'DwD'], 'object_category' : df.loc[:, 'object_category'], 'object_name' : df.object_name, 'description' : df.description, 'creator' : df.creator, 'production_place' : new_places, 'production_date_start' : new_start_dates, 'production_date_end' : new_end_dates, 'current_location' : df.current_location })
sub_df.head()

,ID,creator,current_location,description,object_category,object_name,production_date_end,production_date_start,production_place
0,2.1,"Mackintosh, Charles Rennie",Hill House / Library,A stained dark oak fireplace with coloured gla...,Furniture and Furnishings,Fireplace,1903,1903,Unknown
1,2.2,"Mackintosh, Charles Rennie",Hill House / See Separate Records for Location...,"A set of seven units, consisting of two cupboa...",Furniture and Furnishings,Shelf Unit,0000,0000,Unknown
2,2.2.1,"Mackintosh, Charles Rennie",Hill House / Library,One of a set of seven units. A dark stained oa...,Furniture and Furnishings,Shelf Unit,0000,0000,Unknown
3,2.2.2,"Mackintosh, Charles Rennie",Hill House / Library,One of a set of seven units. A dark oak staine...,Furniture and Furnishings,Cupboard,0000,0000,Unknown
4,2.2.3,"Mackintosh, Charles Rennie",Hill House / Library,One of a set of seven units. A dark stained oa...,Furniture and Furnishings,Shelf Unit,0000,0000,Unknown

In [60]:
import csv
with open('clean_data.csv', 'wt') as csvfile:
    w = csv.writer(csvfile)
    w.writerows(desc_list.items())

NameError: name 'desc_list' is not defined